######################################################################
# Build Tools

# HBuilderX 的构建缓存
/unpackage/*
/node_modules/*
# 命令行构建（HBuilderX 自带 uniapp-cli-vite）的输出目录
/dist/*

######################################################################
# Development Tools

/.idea/*
/.vscode/*
/.hbuilderx/*

package-lock.json
yarn.lock

